<h3>Electron demo</h3>
<div ng-app="app">
    <div>
        <a href="#">Home</a>
        <a href="#todo-demo">Form Demo</a>
        <a href="#chart-demo">Chart Demo</a>
    </div>
<div ng-view>
    <button onclick="onButtonClick(event)">Click Me!</button>
</div>
</div>
<script type='text/javascript' src='bundle.js'></script>